$grey: #666666;
$blue: #2578fe;
$white: rgb(240, 240, 240);
$white2: rgb(220, 220, 220);
$black: #1c1e21;
$titleNews: #a09e9e;
$shadow: #a09e9e68;
$buttonDis: #cccccc;
$buttonHov: #5d9bff;
$footer: #252a2c;
$gold: #ffd244;
$greyLogo: #6c6e70;
$logo: '../../../assets/logos/logo.svg';
$logoD: '../../../assets/logos/logo_dark.svg';
$youtube: '../../../assets/rrss/youtube.svg';
$facebook: '../../../assets/rrss/facebook.svg';
$whatsapp: '../../../assets/rrss/whatsapp.svg';
$x: '../../../assets/rrss/x.svg';
$xd: '../../../assets/rrss/xd.svg';
$instagram: '../../../assets/rrss/instagram.svg';
$threads: '../../../assets/rrss/threads.svg';
$threadsD: '../../../assets/rrss/threadsD.svg';
$sun: '../../../assets/logos/sun.svg';
$moon: '../../../assets/logos/moon.svg';
$moonB: '../../../assets/logos/moonB.svg';
$up: '../../../assets/logos/up.svg';
$name: '../../../assets/form/name.svg';
$last: '../../../assets/form/last.svg';
$mail: '../../../assets/form/mail.svg';
$list: '../../../assets/form/list.svg';
$exclamation: '../../../assets/form/exclamation.svg';
$paypal: '../../../assets/medianav/paypal.jpg';

@mixin m1920 {
	@media (min-width: 1800px) {
		@content;
	}
}

@mixin m1366 {
	@media (min-width: 1360px) {
		@content;
	}
}

@mixin m720 {
	@media (min-width: 720px) {
		@content;
	}
}

@font-face {
	font-family: 'Roboto';
	src: url('../../../../assets/Roboto-Light.ttf') format('truetype');
	font-display: swap;
  }

* {
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	position: relative;
	min-height: 100vh;
	padding-bottom: 10em;
	background-color: $white;
	color: black;

	@include m1366 {
		padding-bottom: 1em;
	}
}

.dark {
	background: $black;
	color: $white2;

	.software .card a h2 {
		color: $white2;
	}
	.pet .card a {
		text-decoration: none;
		color: $white2;
	}
	.pet .card h2 {
		color: $white2;
	}

	footer {
		background-color: $footer;

		.social,
		.contact,
		.rights,
		.logoFooter {
			background-color: $footer;

			a,
			img {
				background-color: $footer;
			}
		}
	}

	header {
		background-color: $footer;

		.logo {
			background-image: url('#{$logoD}');
		}

		nav {
			.link {
				color: $gold;

				&:hover {
					border-bottom: 1px solid $gold;
				}
			}

			.active {
				display: flex;
				height: 2em;
				align-items: center;
				border-radius: 0.6em;
				color: $footer;
				background-color: $gold;
			}
		}

		.rrss {
			.x {
				background-image: url('#{$xd}');
			}

			.threads {
				background-image: url('#{$threadsD}');
			}
		}

		.theme {
			background-image: url('#{$sun}');
			background-size: 2em;
		}
	}

	.news {
		h2 {
			color: $titleNews;
		}

		p {
			color: $white2;
		}
	}

	.comprar .card {
		h2 {
			color: $titleNews;
		}

		p {
			color: $white2;
		}
	}

	.cursos .card h2 {
		color: $titleNews;
	}

	menu {
		nav {
			.theme-burguer {
				background-image: url('#{$sun}');
				background-size: 2.6em;
			}
		}
	}

	.form-contact {
		.fila {
			input,
			select {
				border-bottom: 1.5px solid $white;
			}

			textarea {
				border: 1.5px solid $white;
			}
		}
	}

	.medianav .card h2 {
		color: white;
	}
}

.buttonUP {
	position: fixed;
	bottom: 10em;
	left: 50%;
	width: 60px;
	margin-left: -30px;
	z-index: 999;
	cursor: pointer;

	&:hover {
		filter: opacity(0.8);
	}
}

@import 'scss/header';
@import 'scss/news';
@import 'scss/videos';
@import 'scss/demos';
@import 'scss/cursos';
@import 'scss/curso';
@import 'scss/footer';
@import 'scss/form';
@import 'scss/code';
@import 'scss/comprar';
@import 'scss/medianav';
@import 'scss/apps';
@import 'scss/software';
@import 'scss/pet';
