.software {
	padding: 0.5em 0.5em 14.5em;
	display: flex;
	flex-wrap: wrap;
	gap: 1.5em;

	@include m1366 {
		padding: 1em 6em 14.5em;
		justify-content: space-between;
	}

	@include m1920 {
		padding: 1em 12em 14.5em;
	}

	.card {
		width: 100%;
		border-radius: 15px;

		@include m1366 {
			width: 48%;
			height: 350px;
		}

		@include m1920 {
			height: 350px;
		}
		a {
			text-decoration: none;
			img {
				width: 100%;
				height: auto;
				border-radius: 15px 15px;

				@include m1366 {
					height: 300px;
					object-fit: cover;
				}
			}
			h2 {
				color: $black;
			}
		}
		&:hover {
			box-shadow: 5px 5px 5px $shadow;
		}
	}
}
