.videos {
  padding: .5em .5em 14.5em;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;

  @include m1366 {
    padding: 1em 6em 14.5em;
    justify-content: space-between;
  }

  @include m1920 {
    gap: 2em;
    padding: 1em 12em 14.5em;
  }

  .video {
    width: 100%;
    border-radius: 1em;

    @include m1366 {
      width: 48%;
      height: auto;
    }

    a {
      img {
        display: block;
        width: 100%;
        height: auto;
        border: 1px black solid;
        border-radius: 1em;
      }
    }

    &:hover {
      box-shadow: 8px 8px 8px $shadow;
    }
  }
}